{% extends '@EasyAdmin/page/login.html.twig' %}
{% trans_default_domain ea is defined ? ea.i18n.translationDomain : (translation_domain is defined ? translation_domain ?? 'messages') %}
{% block body_class 'page-login' %}
{% block page_title %}{{ page_title is defined ? page_title|raw : (ea is defined ? ea.dashboardTitle|raw : '') }}{% endblock %}

{% block wrapper_wrapper %}
    {% set page_title = easy_admin_user.title %}
    <div class="login-wrapper">
        <header class="main-header">
            <div id="header-logo">
                {% block header_logo %}
                    <div class="logo mb-4 mt-3 fs-3 fw-bold {{ page_title|length > 14 ? 'logo-long' }}">
                        {{ page_title|raw }}
                    </div>
                {% endblock header_logo %}
            </div>
        </header>

        <section class="content">
            {% block content %}
            {% endblock %}
        </section>
    </div>
{% endblock %}
